<section class="login">
    <div class="login-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title><h1><app-bmt-logo></app-bmt-logo>Login Here</h1></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="loginfm">
                    <mat-grid-list cols="1" rowHeight="80px">
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width">
                                <mat-label>password</mat-label>
                                <input type="password" matInput formControlName="password">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                                <mat-checkbox formControlName="remember">Remember Me</mat-checkbox>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <button mat-button mat-raised-button color="primary" type="submit"> Submit</button>
                    </mat-grid-tile>
                    </mat-grid-list>               
                    
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</section>